@import '../../resources/colors.scss';

.Messages {
  font-size: 24px;
  align-self: center;
  padding: 10px 16px 0;
}

.Messages-icon {
  &.white {
    color: color(cbg);
    :hover {
      color: color(cbgHover);
    }
  }
}

.MessageBox {
  overflow: hidden;
  width: 200px;
  height: 0;
  position: absolute;
  right: 105px;
  top: 45px;
  background-color: color(cbg);
  border-radius: 40px 5px 40px 20px;
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
  transition: height 0.4s ease-in-out;

  &.show {
    height: 110px;
    z-index: 1010;
  }
}

.MessageBox-message {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 14px;
  padding: 16px;
}

.MessageBox-message-remove {
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block !important;
}

.MessageBox-message-heading {
  border-bottom: black solid 2px;
}

.MessageBox-message-text {
  font-size: 13px;
  font-style: oblique;
}
.MessageBox-message-unread {
  position: absolute;
  color: white;
  top: 10px;
  right: 92px;
  font-size: 12px;
  background-color: red;
  border-radius: 50px;
  padding: 2px 4px 2px 4px;
  height: 16px;
  width: 16px;
  font-weight: bold;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  line-height: 14px;

  p {
    margin: auto;
  }
}
