$colors: (
  cbg: #F8F8F8,
  cbgHover: white,
  bellYellow: rgba(255, 255, 0, 0.8),
  bellYellowHover: rgba(255, 255, 0, 0.9)
);

@function color($color) {
  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);
    @return $color;
  }@else {
    @if type-of($color) != color {
      // $color is not in $color and $color is not a color
      @error 'Invalid color name: `#{$color}`.';
    }
  }
}
