@import '../../resources/layout.scss';

.table-responsive {
  margin-bottom: 0 !important;
  height: 100%;
  max-height: 187px;
  overflow: auto !important;
  font-size: 14px;

  @include breakpoint(xxs) {
    font-size: 8px;
  }

  @include breakpoint(xs) {
    font-size: 10px;
  }
  @include breakpoint(sm) {
    font-size: 14px;
  }
}

.user-row:hover {
  background-color: #E8E8E8 !important;
  cursor: pointer;
}
