@import '../../resources/colors.scss';

.Notifications {
  font-size: 24px;
  align-self: center;
  padding-right: 16px;
  padding-top: 10px;
}

.Notification-box {
  overflow: hidden;
  width: 200px;
  height: 0;
  position: absolute;
  right: 65px;
  top: 45px;
  background-color: color(cbg);
  border-radius: 40px 5px 40px 20px;
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
  transition: height 0.4s ease-in-out;

  &.show {
    height: 110px;
    z-index: 1010;
  }
}

.Notification-message {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 14px;
  padding: 16px;
}

.Notification-message-heading {
  border-bottom: black solid 2px;
}

.Notification-message-text {
  font-size: 13px;
  font-style: oblique;
}

.Notification-message-remove {
  margin-left: 5px;
  vertical-align: middle;
  display: none;

  &.show {
    display: inline-block !important;
  }
}

.Notifications-bell-color {
  &.white {
    color: color(cbg);
    :hover {
      color: color(cbgHover);
    }
  }

  &.yellow {
    color: color(bellYellow);
    :hover {
      color: color(bellYellowHover);
    }
  }
}

@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.Notifications-bell-animate {
  animation: myAnimation 2s infinite;
  //animation-timing-function: cubic-bezier(0.90,0.20,0.20,0.90);
  animation-play-state: paused;
}
