.login-request-icon {
  padding-top: 70px;
  font-size: 50px;
}

.login-request-circle {
  border: 3px solid black;
  height: 81px;
  width: 81px;
  border-radius: 50%;
  position: relative;
  top: 70px;
  margin: auto;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
.login-request-heading {
  padding-top: 80px;
}
.glyphicon-user--top {
  top: 10% !important;
}
