@import '../../resources/colors.scss';

.App {
  text-align: center;
}

.App-container {
  height: 100vh;
  background: #F8F8F8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  align-self: center;
}

.App-header {
  display: flex;
  background-color: #222;
}

.App-heading {
  align-self: center;
  color: color(cbg);
  &:hover {
    color: color(cbgHover);
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: black;
  z-index: 1000;

  p {
    color: white;
    float: right;
    margin: 0 15px 0 0;
  }
}
