.message {
  max-height: calc(100vh - 222px);
  overflow-y: auto;
  padding: 5px;

  p {
    border-radius: 15px;
    padding: 10px;
  }
}

.message-headline {
  display: flex;
  justify-content: center;
}
.message-headline-separator {
  background: linear-gradient(to bottom, #D3D3D3 0%, #F8F8F8 100%);
  height: 5px;
}
.message-headline-icon {
  align-self: center;
  padding-left: 2px;
  font-size: 10px;
}
.message-headline-icon--ok {
  color: green;
}
.message-headline-icon--fail {
  color: red;
}
.message-headline-refresh-icon {
  font-size: 14px;
  color: black;
  position: absolute !important;
  margin-top: 82px;
  margin-left: 8px;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.message-headline-refresh-icon--rotate {
  font-weight: bold;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: transform;
}

.message-inputbox {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 20px 0;
  background: #E8E8E8;
}
.message-input {
  width: calc(50vw);
}
.message-send {
  vertical-align: middle;
  padding-left: 6px;

  &:hover {
    cursor: pointer;
  }
}
.message-you {
  overflow-wrap: break-word;
  margin-left: 35%;
  background: linear-gradient(to right, #99FF66 0%, #CCFFCC 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
.message-admin {
  overflow-wrap: break-word;
  margin-right: 35%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1), 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
