@import '../../resources/colors.scss';

.login {
  padding-top: 5px;
  font-size: 9px;
  color: white;
}
.login-icon {
  color: color(cbg);
  font-size: 24px;
  align-self: center;
  padding: 10px 16px 6px 0;

  &:hover {
    color: color(cbgHover);
  }
}
.login-menu {
  position: absolute;
  overflow: hidden;
  height: 130px;
  width: 0px;
  right: 0;
  background-color: #222;
  transition: width 1s;
  border-bottom-left-radius: 55px;

  p {
    color: white;
    border-bottom: white solid 2px;
  }

  &.open {
    width: 215px;
    z-index: 1009;
  }
}
.login-content {
  opacity: 0;
}
.login-content--logged-in {
  h3 {
    color: white;
  }
}
.login-heading {
  font-size: 14px;
}
.login-input {
  float: right;
  padding-top: 4px;
  padding-right: 28px;

  label {
    font-weight: normal;

    input {
      color: #222;

      &.error {
        border: 2px solid red;
      }
    }
  }
}

.submit {
  font-size: 16px;
  padding-left: 8px;
  &:hover {
    cursor: pointer;
  }
}

@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
.login-loading-spinner {
  padding-right: 0px;
  font-size: 16px;
  animation: loadingSpinner 3.5s infinite;
  animation-play-state: running;
}
.logout {
  width: 100px;
  margin: auto;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.logout-icon {
  font-size: 16px;
  vertical-align: sub;
}
.logout-heading {
  display: inline-block;
  padding-right: 8px;
}
